body{
  font-family: "나눔바른고딕 옛한글","NanumBarunGothic YetHangul",-apple-system,BlinkMacSystemFont,Arial,"Apple SD Gothic Neo",NanumGothic,Dotum,"새굴림",sans-serif,FZSongS_Extended;
}
header{
  height: 80px;
  width: 100%;
  background: darkolivegreen;
  color: white;
}
section{
  height: 100%;
  width: 100%;
  background: lightblue;
  padding: 1rem;
}
ul{
  margin: 0;
  padding: 0;
}
footer{
  height: 80px;
  width: 100%;
  background: darkolivegreen;
  color: white;
}