
.content{
    margin-top: 5px;
    display: '';
}
.contentheader{
    background-color: midnightblue;
}
.contenthelp{
  padding: 0 5px;
  width: 100%;
  max-width: 220px;
}
.sectiontwo{
    display: flex ;
    max-width: '' ;
}
.stwo{
    /* width: 345px; */
    width: 100%;
    height: 375px;
    background-color: #5f60aa;
    color: wheat;
    font-weight: 500;
    text-align: center;
    font-size: x-large;
    margin: 0 10px 0 5px;
  }
.sthree {
    height: 410px;
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    background-color: #5f60aa;
    color: wheat;
    font-weight: 500;
    text-align: center;
    font-size: x-large;
}
.sfive{
    height: 230px;
    background-color: #5f60aa;
    color: wheat;
    font-weight: 500;
    text-align: center;
    font-size: x-large;
    margin-right: 10px;
  }
.ssix{
    width: 100%;
    margin: 5px 5px 0 5px;
    background-color: #5f60aa;
    color: wheat;
    font-weight: 500;
    text-align: center;
    font-size: x-large;
}
.seight{
    height: 220px;
    background-color: #5f60aa;
    color: wheat;
    font-weight: 500;
    text-align: center;
    font-size: x-large;
    margin-right: 10px;
  }
.sectionthree{
    max-width: '' ;
    margin: 5px 0;
    display: flex;

}
.sfour{
    height: 220px ;
    width: 100%;
    background-color: #5f60aa;
    color: wheat;
    font-weight: 500;
    text-align: center;
    font-size: x-large;
    margin-left: 5px;
}
.sseven {
    height: 220px ;
    /* margin-top: 0 ; */
    margin-left: 5px;
    width: 100%;
    background-color: #5f60aa;
    color: wheat;
    font-weight: 500;
    text-align: center;
    font-size: x-large;
}
.snine{
    /* margin-top: '' ; */
    /* margin-left: 5px; */
    margin: 0 5px;
    width: 100%;
    background-color: #5f60aa;
    color: wheat;
    font-weight: 500;
    text-align: center;
    font-size: x-large;
}